-r requirements_test_pre_commit.txt

async-upnp-client==0.45.0
aiohomematic==2025.10.18
aiohomematic-test-support==2025.10.18
isal==1.8.0
mypy-dev==1.14.0a7
pre-commit==4.3.0
pur==7.3.3
pydevccu==0.1.18
pylint==4.0.2
pylint_strict_informational==0.1
pytest-homeassistant-custom-component==0.13.289
